# Exercise 1
---
Course: Scientific Programming<br>
Date: 03.03.2022<br>
Author: Erinc Emre Celikten<br>
Author School Number: 20170808032

---

# Content
> ## 1 Basics
>> 1.1: The interpreter<br>
>> 1.2: Scripts <br>
>> 1.4: Booleans<br>
>> 1.5: Integers<br>
>> 1.6: Floats<br>
>> 1.7: Variables<br>
>> 1.8: Type casting
> ## 2 Control flow
>> 2.1: Range<br>
>> 2.2: For loops<br>
>> 2.3: Simple while loops<br>
>> 2.4: Hangman update 1<br>
>> 2.5: While loops<br>
>> 2.6: More while loops<br>
>> 2.7: Collatz sequence
> ## 3 Functions
>> 3.1: Hello<br>
>> 3.2: Polynomial<br>
>> 3.3: Maximum<br>
>> 3.4: Primes<br>
>> 3.5: Root finding
---

## 1 Basics

### 1.1: The interpreter

In [1]:
3 + 1 # output: 4

4

In [2]:
3 * 3 # output: 9

9

In [3]:
2 ** 3 # output: 8

8

In [4]:
"Hello, world!" # output: 'Hello, world!'

'Hello, world!'

### 1.2: Scripts

In [5]:
! echo '3 + 1'$'\n''3 * 3'$'\n''2 ** 3'$'\n'"Hello, world" > script1.py
! python3 script1.py

Traceback (most recent call last):
  File "/home/erinc/Desktop/Scientific Programming/script1.py", line 4, in <module>
    Hello, world
NameError: name 'Hello' is not defined

In [6]:
! echo 'print(3 + 1)'$'\n''print(3 * 3)'$'\n''print(2 ** 3)'$'\n''print("Hello, world")'> script2.py
! python3 script2.py

4
9
8
Hello, world

### 1.3 more interpreter

In [10]:
'py' + 'thon' # merges strings

'python'

In [11]:
'py' * 3 + 'thon' # merges given string 'py' by the given number afterwards merges with lastly given string 'thon'

'pypypython'

In [12]:
'py' - 'py' # there is no '-' operation between two string so, python3 throws an error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [13]:
'3' + 3 # there is no '+' operation between two string so, python3 throws an error

TypeError: can only concatenate str (not "int") to str

In [14]:
3 * '3'  # merges given string '3' by the given number

'333'

In [15]:
a # python3 gives thorws error beacuse there were no variable 'a' defined from us or python3 itself

NameError: name 'a' is not defined

In [16]:
a = 3 # we create variable 'a' and assign a value of 3 in integer format

In [17]:
a # calling varialbe 'a'

3

### 1.4: Booleans

#### Explanation:
In python3 when we use boolean operators with boolean variables ('True' and 'False') with another type of varibale, python3 translates everything to 'True' expext '0'. '0' means 'False'.

In [18]:
1 == 1 # one equals 1 so it's 'True'

True

In [19]:
1 == True # explained

True

In [20]:
0 == True # explained

False

In [21]:
0 == False # explained

True

In [22]:
3 == 1 * 3 # arithmetic calculations have a priority. So, after aritmetic calcualtion 3 is equal to 3 so it's 'True'

True

In [23]:
(3 == 1) * 3 # explained

0

In [24]:
(3 == 3) * 4 + 3 == 1  # explained

False

In [25]:
3**5 >= 4**4 # explained

False

### 1.5: Integers

#### Explanation:
In python3 when the result of the operation is still in the same type, python3 keeps the result in this type as well. But if it is in different type than it changes automaticly.

In [30]:
5 / 3 # result of the arithmetic is fractional. So pyhton3 gives answer in float type.

1.6666666666666667

In [31]:
5 % 3 # reamining operator. Result of the arithmetic is still in integer type.

2

In [32]:
5.0 / 3 # result of the arithmetic is fractional. So pyhton3 gives answer in float type.

1.6666666666666667

In [33]:
5 / 3.0 # result of the arithmetic is fractional. So pyhton3 gives answer in float type.

1.6666666666666667

In [34]:
5.2 % 3 # result of the arithmetic is fractional. So pyhton3 gives answer in float type.

2.2

In [35]:
2001 ** 200 # result of the arithmetic cannot storeable in integer type due size. So pyhton3 gives answer in 'long integer'.

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

### 1.6: Floats

#### Explanation:
In python3 when the result of the operation is still in the same type, python3 keeps the result in this type as well. But if it is in different type than it changes automaticly.

In [37]:
2000.3 ** 200 # result of this arithmetic won't fit in to float type due to size.

OverflowError: (34, 'Numerical result out of range')

In [38]:
1.0 + 1.0 - 1.0 # explained

1.0

In [39]:
1.0 + 1.0e20 - 1.0e20 # explained

0.0

### 1.7: Variables

In [41]:
name = 'Erinc'
print('Hello, ' + name + '!')

Hello, Erinc!

### 1.8: Type casting

In [42]:
float(123) # integer to folat is possible

123.0

In [47]:
float('123') # string to float is possible if string includes only numbers

123.0

In [48]:
float('123.23') # already in float type

123.23

In [49]:
int(123.23) #  folat to integer is possible, but when it happens fractions will drop

123

In [50]:
int('123.23') # it cannot be done directly, but it could be done in 2 step as follows; string to float then float to int

ValueError: invalid literal for int() with base 10: '123.23'

In [53]:
int(float('123.23')) # explained

123

In [55]:
str(12) # integer to string is possible

'12'

In [57]:
str(12.2) # float to string is possible

'12.2'

In [59]:
bool('a') # explained in Boolean section

True

In [60]:
bool(0) # explained in Boolean section

False

In [61]:
bool(0.1) # explained in Boolean section

True

## 2 Control flow

### 2.1: Range

In [70]:
range(5) # returns range type with given parameters, Range type generates a sequence of integers by defining a start and the end point

range(0, 5)

In [68]:
type(range(5))

range

### 2.2: For loops

In [72]:
for i in range(101):print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [74]:
for i in range(101):
    if i % 7 == 0: print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [93]:
for i in range(1,101):
    if i % 5 == 0 and i % 3 != 0: print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95
100

In [89]:
x = int(input())
for i in range(2, x):
    if x % i == 0:
        print(i)
# output '18' comes from jupyter notebooks standart input

18
2
3
6
9

### 2.3: Simple while loops

In [92]:
i = 1
while i < 101: 
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [94]:
i = 1
while i < 101:
    if i % 7 == 0:
        print(i)
    i+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

### 2.4: Hangman update 1

In [ ]:
# inside for loop we can set a system as follows:
    if i == 0:
         return 'e'
    elif i == 1:
         return 'a'
    else:
        return input()
# in this way first 2 guess will be automaticly assigned from us but not others

### 2.5: While loops

In [120]:
n = 20
nFound = 0
i = 0
while nFound < n:
    if i % 5 == 0 and i % 7 == 0 and i % 11 == 0:
        nFound += 1
        print(i)
    i += 1

0
385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315

### 2.6: More while loops

In [121]:
numberfound = False
x = 1
while (numberfound == False):
    if (x%1==0 and x%2==0 and x%3==0 and x%4==0 and x%5==0 and x%6==0 and x%7==0 and x%8 ==0 and x%9 == 0 and x%10==0):
            print(x)
            numberfound = True
    x += 1

2520

### 2.7: Collatz sequence

In [122]:
x = int(input())
while x != 1:
    if x % 2 == 0: x /= 2
    else: x = 3 * x + 1 
    print(int(x))

103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1

## 3 Functions

### 3.1: Hello

In [125]:
def func():
    print('Hello, world!')
    
func()

Hello, world!

In [ ]:
def func(name):
    print('Hello, {}!'.format(name))
    
func('Erinc')

In [ ]:
# as it sounds when we use 'return' it returns the variable that we give after. Where 'print' is a function that prints the given variables to terminal.

### 3.2: Polynomial

In [134]:
def func(x):
    return (3 * x**2 - x + 2)

print(func(2))

12

### 3.3: Maximum

In [140]:
def  my_max(x, y):
    if x > y: return x
    else: return y

print(my_max(3, 4))

4

In [139]:
def my_max(x, y):
        if x > y: return x
        if y >= x: return y
        
print(my_max(3, 4))

4

### 3.4: Primes

In [142]:
def is_prime(n):
    k = True
    for i in range(2, n):
        if n % i == 0: k = False
    if k: return True
    else: return False
    
print(is_prime(13))

True

In [146]:
def is_prime(n):
    if n % 6 != 5 or n % 6 != 1:    
        k = True
        for i in range(2, n):
            if n % i == 0: k = False
        if k: return True
    else: return False
    
print(is_prime(13))

True

In [151]:
def func(x):
    answ = []
    for n in range(1, x + 1):
        if n % 6 != 5 or n % 6 != 1:    
            k = True
            for i in range(2, n):
                if n % i == 0: k = False
            if k: answ.append(n)
    return answ
                
print(func(15))

[1, 2, 3, 5, 7, 11, 13]

In [160]:
def func(x):
    answ = []
    n = 1
    n_found = 0
    while n_found < x:
        if n % 6 != 5 or n % 6 != 1:    
            k = True
            for i in range(2, n):
                if n % i == 0: k = False
            if k:
                answ.append(n)
                n_found += 1
        n += 1
    return answ
                
print(func(15))
print(len(func(15)))

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]
15

### 3.5: Root finding

In [ ]:
def root(f, a, b):
    if (f(a) == f(b)): return f(a)

In [ ]:
def root(f, a, b):
    if (f(a) == f(b)): return f(a)

In [ ]:
def root(f, a, b):
    if f(a) > 0 and f(b) > 0: print ("function evals have the same sign")
    elif f(a) < 0 and f(b) < 0:print ("function evals have the same sign")
    elif (f(a) == f(b)): return f(a)